{% if MEILISEARCH %}
<div class="row flex-row" id="meili_search_button">
<input type="search" id="search-bar-input" placeholder="Search with Meilisearch" />
	{# could be a problem calling docSerchBar (not exists) if the js is loaded with async #}
    <script>
    $(document).ready(function () {
      docsSearchBar({
        hostUrl: "{{ MEILISEAECH_SERVER_URL}}",
        apiKey: "aad1c01a3324a1d773c8b42f1b06d4d39602dc6c88430c7068333830c170a919",
        indexUid: "docs",
        inputSelector: "#search-bar-input",
        debug: true // Set debug to true if you want to inspect the dropdown
      });
    });
    </script>
</div>
{% endif %}
