{% if DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
  {% from 'includes/sidebar/macros.jinja' import title %}
  {% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
  {% endif %}

<section class="sidebar bg-dark mb-3" id="sb_Section_RecentPosts">
<div class="accordion" id="sb_accordion_RecentPosts">
  <div class="card">
    <div class="card-header" id="sb_RecentPosts_Heading">
      <!-- <h2 class="mb-0"> -->
        <!-- <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_sb_RecentPosts" aria-expanded="true" aria-controls="collapse_sb_RecentPosts">
	-->
        <span role="navigation" class="collapsed" data-toggle="collapse" data-target="#collapse_sb_RecentPosts" aria-expanded="true" aria-controls="collapse_sb_RecentPosts">
	<i data-feather="chevron-up" class="float-xs-left"> </i>
	Recent Posts
        </span>
      <!-- </h2> -->
    </div>

    <div id="collapse_sb_RecentPosts" class="collapse multi-collapse" aria-labelledby="sb_RecentPosts_Heading" data-parent="#sb_accordion_RecentPosts">
      <div class="card card-body">
      {% for article in articles[:RECENT_POST_COUNT] %}
         <p><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
      {% endfor %}
       </div>
    </div>
  </div>
</div>
</section>

<!-- End Sidebar/Recent Posts -->
{% endif %}
