{% if SOCIAL %}
  {% from 'includes/sidebar/macros.jinja' import title %}

<!-- Sidebar/Social -->
<section class="sidebar card bg-dark card-body mb-3" id="sb_Social_Card">
{#<!--<li class="list-group-item">-->#}
  <div>{{ title(_('Social Contact'), DISABLE_SIDEBAR_TITLE_ICONS) }}</div>
  {#<ul class="list-group" id="social">#}
  <div class="d-flex flex-row mt-3" id="social">
    {% for s in SOCIAL %}
      {% if s[2] %}
        {% set name_sanitized = s[2]|lower|replace('+','-plus')|replace(' ','-') %}
      {% else %}
        {% set name_sanitized = s[0]|lower|replace('+','-plus')|replace(' ','-') %}
      {% endif %}

      {% if name_sanitized in [ 'twitter', 'rss', 'github', 'mail', 'instagram', 'home', 'user', 'users', 'gitlab' ] %}
        {% set iconattributes = '' ~ name_sanitized ~ '' %}
      {% elif name_sanitized in [ 'reddit' ] %}
        {% set iconattributes = 'message-circle' %}
      {% elif name_sanitized in [ 'atom' ] %}
        {% set iconattributes = 'rss' %}
      {% endif %}
    {#<li class="list-group-item">#}
      <a class="ml-1 mr-1" href="{{ s[1] }}" data-toggle="tooltip" title="{{ s[0] }}">
        <i data-feather="{{ iconattributes }}"></i>
      </a>
    {#</li>#}
    {% endfor %}
  {#</ul>#}
  </div>
{#<!--</li>-->#}
</section>
<!-- End Sidebar/Social -->
{% endif %}
