{% if DISPLAY_TAGS_ON_SIDEBAR is not defined %}
    {% set DISPLAY_TAGS_ON_SIDEBAR = True %}
{% endif %}

{% if 'tag_cloud' in PLUGINS and DISPLAY_TAGS_ON_SIDEBAR %}
  {% from 'includes/sidebar/macros.jinja' import title %}
  {% if DISPLAY_TAGS_INLINE %}
    {% set tags = tag_cloud | sort(attribute='0') %}
  {% else %}
    {% set tags = tag_cloud | sort(attribute='1') %}
  {% endif %}

<!-- Sidebar/Tag Cloud -->
<!--<section class="card"> -->
<li class="list-group-item">
  {#<a href="{{ SITEURL }}/{{ TAGS_URL }}"><h4>{{ title(_('Tag Cloud'), DISABLE_SIDEBAR_TITLE_ICONS, icon='tags') }}</h4></a>#}
  <a href="{{ SITEURL }}/{{ TAGS_URL }}"><div>{{ title(_('Tag Cloud'), DISABLE_SIDEBAR_TITLE_ICONS, icon='tag') }}</div></a>
  <div class="row">
  <div class="col-11 offset-1 mt-3 {% if DISPLAY_TAGS_INLINE %}list-inline tagcloud{% endif %}" id="tagcloud-tags">
    {% for tag in tags %}
     <!-- <span class="badge"> -->
       <a class="tag-{{ tag.1 }}" href="{{ SITEURL }}/{{ tag.0.url }}">
        {{- tag.0 -}}
      </a>
  <!--    </span> -->
  <!--  </li> -->
    {% endfor %}
  </div>
</div>
</li>
<!-- End Sidebar/Tag Cloud -->
{% endif %}
