<footer class="post-info">
    <!-- <span class="label label-default">Date</span> -->
    <span class="badge badge-dark">Date</span>
    <span class="published">
        <i data-feather="calendar"></i><time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
    </span>
    {% if SHOW_DATE_MODIFIED %}
        {% if article.modified %}
          <span class="badge badge-dark">{{ _('Modified') }}</span>
            <span class="modified">
                <i data-feather="calendar"></i><time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
            </span>
        {% endif %}
    {% endif %}
	<br>

    {% if SHOW_SERIES %}
        {% if article.series %}
            <span class="badge badge-dark">{{ _('Series') }}</span>
            Part {{ article.series.index}} of {{ article.series.name }}
        {% endif %}
    {% endif %}

    {% if SHOW_ARTICLE_AUTHOR %}
        {% if article.author %}
            <span class="badge badge-dark">{{ _('By') }}</span>
            <a href="{{ SITEURL }}/{{ article.author.url }}"><i class="fa fa-user"></i> {{ article.author }}</a>
        {% endif %}
    {% endif %}

    {% if SHOW_ARTICLE_CATEGORY %}
        <span class="badge badge-dark">{{ _('Category') }}</span>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}

    {% if PDF_PROCESSOR %}
        <span class="badge badge-dark">
            <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
        </span>
    {% endif %}

    {% include 'includes/taglist.html' %}
	<br>

    <!-- Plugin: pelican-ert -->
    {% if article.ert %}
      <span class="label label-pelican-ert"></span>
      <span>
        <i data-feather="book-open"></i>
        <b>Estimated Read Time:</b>
      </span>
      {{ article.ert|escape }}
    {% endif %}

    {% if article.ninja_level %}
      <span class="label label-ninja-level ml-2"></span>
      <i data-feather="activity"></i>
      <b>Ninja Level:</b>
      {% for i in range( 1, 1 + article.ninja_level|int )  %}
        <i data-feather="star"></i>
      {% endfor %}
    {% endif %}

    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
