{% if articles_page and articles_paginator.num_pages > 1 %}
	<nav aria-label="Pagination" role="navigation">
        <ul class="pagination justify-content-center">
            {% if articles_page.has_previous() %}
                {% set num = articles_page.previous_page_number() %}
                <li class="page-item">
		  <a class="page-link" rel="prev"
		    href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;
		  </a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}
            {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
                <li class="{{ 'page-item active' if num == articles_page.number else 'page-item' }}">
	    {% if num == articles_page.number %}
		{% set rel_string = ' ' %}
	    {% elif num < articles_page.number %}
		{% set rel_string = 'rel="prev"' %}
	    {% elif num > articles_page.number %}
		{% set rel_string = 'rel="next"' %}
	    {% endif %}
		  <a class="page-link" {{ rel_string if rel_string is defined }}
                    href="{{ SITEURL }}/{{ articles_paginator.page(num).url if num > 1 else articles_paginator.page(1).url }}">{{ num }}</a>
		</li>
                {% endfor %}
            {% if articles_page.has_next() %}
                <li class="page-item"><a class="page-link" rel="next"
                        href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a></li>
            {% else %}
                {#<!-- <li class="next disabled"><a href="#">&raquo;</a></li> -->#}
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
	</nav>
{% endif %}
