<!-- Doc Navigation Sidebar -->

<!-- <button class="sb_doc_nav_closeButton" onclick="sb_doc_nav_close()" -->

<!-- Use jQuery and onclick for toggling -->
<button class="btn" id="sb_doc_nav_closeButton" style="width: 100%; align-self:flex-start">☰ Close sidebar</button>

<!-- tried to use navbar-toggler/collapse, but collapse is not working -->
{#
<button class="btn navbar-toggler" type="button" id="sb_doc_nav_closeButton" data-toggle="collapse" aria-expanded="false" data-target="#sb_doc_nav"
 style="width: 100%; align-self:flex-start">☰ Close sidebar</button>
#}

<!-- need a scrollbar for the toc and won't scroll with the main screen -->
{% include 'includes/sidebar/article-toc.html' ignore missing %} 
{# <section class="card card-body mb-3 bg-faded p-1 mb-3"> #}
{# </section> #}

<!-- End Doc Nav Sidebar -->
