{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
		<div class="mt-3 pb-1 mb-1">
                <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
		</div>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div class="card mb-3">
                      <div class="card-body bg-dark">
                        {% include "includes/article_info.html" %}
                      </div>
		    </div>
                {% endif %}
                <div class="summary mt-2">{{ article.summary }}
                    {% include 'includes/comment_count.html' %}
                    <a class="btn btn-default btn-xs btn-more" href="{{ SITEURL }}/{{ article.url }}">{{ _('More') }} ...</a>
                </div>
            </article>
            <hr>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
