{% extends "article_list.html" %}
{% block title %}Category - {{ category }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ category }}" />
  {% if METATAG_ROBOTS_CATGORY %}
    <meta name="robots" content="{{ METATAG_ROBOTS_CATGORY }}">
  {% endif %}
{% endblock %}

{% block canonical_rel %}
{%- if output_file == 'index.html' %}
  {# this case should not happen #}
  {%- set CANONICAL_HREF = SITEURL ~ "/" ~ output_file %}
{%- elif output_file.endswith("index.html") %}
  {%- set CANONICAL_HREF = SITEURL ~ "/" ~ output_file.replace('index.html', '') %}
{%- else %}
  {%- set CANONICAL_HREF = SITEURL ~ "/" ~ output_file %}
{%- endif %}

{#<link rel="canonical" href="{{ SITEURL }}/{{ category.url }}">#}
<link rel="canonical" href="{{ CANONICAL_HREF }}">
{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li><a href="{{ SITEURL}}/{{ CATEGORIES_URL }}" title="{{ SITENAME }} {{ _('Categories') }}">{{ _('Categories') }}</a></li>
        <li class="active">{{ category }}</li>
    </ol>
    {% endif %}
{% endblock %}
