{% extends "article_list.html" %}

{% block canonical_rel %}

{%- if output_file == 'index.html' %}
  {%- set CANONICAL_HREF = SITEURL ~ "/" %}
{%- elif output_file.endswith("index.html") %}
  {%- set CANONICAL_HREF = SITEURL ~ "/" ~ output_file.replace('index.html', '') %}
{%- else %}
  {%- set CANONICAL_HREF = SITEURL ~ "/" ~ output_file %}
{%- endif %}

{# <link rel="canonical" href="{{ SITEURL }}"> #}
<link rel="canonical" href="{{ CANONICAL_HREF }}">
{% endblock %}

{% block banner %}
	{% include 'includes/banner.html' %}
{% endblock %}
