{% set HIDE_SIDEBAR='true' %}
{% extends 'base.html' %}

{% block title %}
{{ _('Search') }} - {{ super() }}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
    <div class="column wrapper flex-lg-nowrap">
{% if MEILISEARCH %}
  <div class="mt-4 mb-4" id="meili_search_button">
  <input type="search" id="search-bar-input" placeholder="Search with Meilisearch" />
        {# could be a problem calling docSerchBar (not exists) if the js is loaded with async #}
    <script>
    $(document).ready(function () {
      docsSearchBar({
        hostUrl: "{{ MEILISEARCH_SERVER_URL }}",
        apiKey: "{{ MEILISEARCH_API_KEY }}",
        indexUid: "{{ MEILISEARCH_INDEX_UID }}",
        inputSelector: "#search-bar-input",
        debug: true // Set debug to true if you want to inspect the dropdown
      });
    });
    </script>
  </div>
{% endif %}
  </div>
</div>
{% endblock %}
